/vagrant/.vagrant
/vagrant/ubuntu-xenial-16.04-cloudimg-console.log
/vagrant/.vagrant/machines/default/virtualbox/action_provision
/vagrant/.vagrant/machines/default/virtualbox/action_set_name
/vagrant/.vagrant/machines/default/virtualbox/id
/vagrant/.vagrant/machines/default/virtualbox/index_uuid
/vagrant/.vagrant/machines/default/virtualbox/private_key
/vagrant/.vagrant/machines/default/virtualbox/synced_folders
/vagrant/.vagrant/machines/default/virtualbox/vagrant_cwd
