// base colors to get consistent color scheme
$color-black: #111;
$color-orange: #f5d76e;

// general colors
$color-background: $color-black;
$color-text: $color-orange;
$color-subtext: $color-black;
$color-accent: $color-black;
$color-accent-light: $color-black;
$color-accent-dark: $color-black;
